$primary-color-text: #323232;
$primary-color-cta-outline: #0095FF;
$primary-color-label: #AFAFAF;
$primary-color-cta-text: #FFFFFF;
$secondary-color-vplayer: #000000;
$secondary-color-cta-hover: #0065AD;
$secondary-color-divider: #E1E1E1;
$secondary-color-form-background: #FAFAFA;