@use "../../styles/partials/media" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.commentsEngagement {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-color-divider;
    padding: 1rem 0;

    &__avatar {
        border-radius: 50%;
        max-width: 2.25rem;
        height: 2.25rem;
        object-fit: cover;
        object-position: 15%;
        margin: 1.375rem 0.875rem 0 0;
    }

    &__form {
        width: 100%;
    }

    &__label {
        display: flex;
        flex-direction: column;
        color: $primary-color-label;
        letter-spacing: 0.03125rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    &__comment {
        font-family: inherit;
        height: 6.25rem;
        padding: 0.75rem;
        background-color: $secondary-color-form-background;
        border: 1px solid $secondary-color-divider;
        border-radius: 4px;
        resize: none;
        color: $primary-color-text;
        margin-top: 0.125rem;

        &::placeholder {
            color: $primary-color-text;
        }

        &:focus-visible {
            outline: 2px solid $primary-color-cta-outline;
        }
    }

}