@use "../../styles/partials/media" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.video-player {
    background-color: $secondary-color-vplayer;
    width: 100%;
    height: 56.25vw;
    display: flex;
    justify-content: center;
    @include tablet{
        max-height: 65vh;
    }
    @include desktop {
        max-height: 57.5vh;
    }
    
    &__content {
        height: 100%;
        @include desktop {
            max-width: $media-desktop;
            margin: 0 auto;
        }
    }
}