@use "../../styles/partials/media" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.video {
    display: flex;
    margin-top: 0.8125rem;
    @include tablet {
        margin-top: 1.5rem;
    }

    &:hover {
        cursor: pointer;
    }

    &__image {
        min-width: 6.625rem;
        height: calc(6.625rem * 9 / 16);
        border-radius: 4px;
        object-fit: cover;
        margin-right: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $primary-color-text;
    }
    
    &__title {
        line-height: 1.0625rem;
        margin-bottom: 0.0625rem;
        @include tablet {
            line-height: 1.125rem;
            margin-bottom: 0.25rem;
        }
        @include desktop {
            line-height: 1.1875rem;
            margin-bottom: 0.1875rem;
        }
    }
}